<h4 class="content-subhead">Users</h4>
<div class="pure-menu">
  <ul class="pure-menu-list">
    <% @users.keys.each do |user| %>
      <li class='pure-menu-item'>
        <a href="/users/<%= user %>" class="pure-menu-link"><%= user %></a>
      </li>
    <% end %>
  </ul>
</div>
